:root {
    /*colors*/
    --primary-color: hsl(219, 79%, 66%);
    --primary-color-dark: hsl(219, 79%, 60%);
    --accent-color: red;
    --background-color: #f1f1f1;
    --aside-background-color: #f1f1f1;
    --offline-primary-color: hsl(0, 0%, 53%);
    --offline-primary-color-dark: hsl(0, 0%, 47%);
    --footer-background: white;
    /*layout*/
    --aside-width: 200px;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: var(--background-color);
    font-family: arial, sans-serif;
}

.layout {
    min-height: 100%;
    display: grid;
    grid-template-columns: auto var(--aside-width);
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header" "main aside" "footer footer";
}

.layout>header {
    grid-area: header;
    background: var(--primary-color);
}

html[offline] .layout>header {
    background: var(--offline-primary-color);
}

.layout>header .skip-links {
    position: absolute;
    top: -40px;
    left: 0;
    background: var(--accent-color);
    color: white;
    padding: 8px;
    z-index: 100;
}

.layout>header .skip-links:focus {
    top: 0;
}

.layout>main {
    grid-area: main;
}

.layout>aside {
    grid-area: aside;
    background: var(--aside-background-color);
}

.layout>footer {
    grid-area: footer;
    background: var(--footer-background);
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75em;
    font-family: cursive;
    border-top: 1px solid #e2e2e2;
}

.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navigation a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1em;
}

.navigation a:hover {
    background: var(--primary-color-dark);
}

html[offline] .navigation a:hover {
    background: var(--offline-primary-color-dark);
}

.navigation li.active {
    border-bottom: 2px solid var(--accent-color);
}

.view {
    padding: 20px;
}