<section class="view blog" itemscope itemtype="http://schema.org/Blog">
    <link rel="stylesheet" href="/styles/blog.css">
    <link rel="import" href="/elements/post.html">
    <link rel="import" href="/elements/test.html">
    <link rel="import" href="/elements/blog.html">
    <h1 tabindex="-1">Blog</h1>
    <article itemprop="blogPost">
        <header>
        </header>
        <h1 itemprop="url"><a href="/blog/some-nice-blog-post-title" itemprop="name">Some nice blog post title</a></h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quis, fuga ad! Ut provident architecto impedit vel ex totam, quia laborum, illum, repellat aliquam culpa reprehenderit. Vero, sed labore nemo?
        <footer></footer>
    </article>
    <jk-blog posts='[{"title":"Post 1"},{"title":"Post 2"}]'></jk-blog>
    <jk-post post='{"title":"Post 1"}'></jk-post>
    <jk-test obj1='{"prop1":"prop1"}' bool1="true" str1="str1" num1="666"></jk-test>
</section>