<article class="view contact">
    <link rel="stylesheet" href="/styles/contact.css">
    <h1 tabindex="-1">Contact</h1>
    <section itemscope itemtype="http://schema.org/Person">
        <figure>
            <picture>
                <source srcset="./images/jacek-kosciesza.webp" type="image/webp">
                <source srcset="./images/jacek-kosciesza.jpg" type="image/jpeg">
                <img itemprop="image" src="./images/jacek-kosciesza.jpg" alt="Portrait photo of Jacek Kościesza wearing black jacket, blue shirt and red tie.">
            </picture>
            <figcaption itemprop="name">Jacek Kościesza</figcaption>
        </figure>
        Email: <a itemprop="email" href="mailto:jacek.kosciesza@gmail.com">jacek.kosciesza@gmail.com</a>
    </section>
</article>