<article class="view">
    <h1 tabindex="-1">Notes</h1>
    <h2>Accessibility</h2>
    <ul>
        <li>
            Keyboard Usability
            <ul>
                <li>Focus Management</li>
                <li>Skip Links</li>
                <li>Keyboard Traps</li>
            </ul>
        </li>
        <li>
            Assistive Technology            
        </li>
        <li>
            Programatically expressed semantics
        </li>
        <li>Affordances</li>
        Name Role State Value
        Accessibility Tree
    </ul>
</article>