<section class="view notes">
    <link rel="stylesheet" href="/styles/notes.css">
    <h1 tabindex="-1">Notes</h1>
    <article>
        <h1>Accessibility</h1>
        <ul>
            <li>
                Keyboard Usability
                <ul>
                    <li>Focus Management</li>
                    <li>Skip Links</li>
                    <li>Keyboard Traps</li>
                </ul>
            </li>
            <li>
                Assistive Technology
            </li>
            <li>
                Programatically expressed semantics
            </li>
            <li>Affordances</li>
            Name Role State Value 
            Accessibility Tree 
            Access Key
            Landmarks
        </ul>
    </article>
</section>